$grey       : #F4F8F9;
$darkGrey   : #ECEFF1;
$blackGrey  : #A5A5A5;
$black      : #333333;
$lightBlack : #555555;
$white      : #FFFFFF;
$blue       : #249EDB;
$greyBorder : #9AABB3;
$greyBorder2: #F9F9F9;
$yellow     : #E6E600;
$orange     : #ff7d2e;
$green      : #2cc557;
$pseudoBlack: #5d5d5d;
$red        : #EE2828;

$grey-darkest: #888888;
$grey-dark  : #777777;
$grey-darken: #dfdfdf;
$grey-light: #e6e6e6;
$grey-lighten: #88979e;
$grey-lightest: #fcfcfc;
$grey-darkest: #e5ecef;
$green-lighten: #12BA61;

$blue-hover :#2c79ba;

/* colors for labels */

$_green: #2dc558;
$_orange: #ff7d2F;
$_grey: #5d5d5d;
$_blue: #249fdb;
$_red: #ff2c2b;

/* colors for buttons */

$danger: #d43f3a;
