<div class="container page-templates">
  <div class="flex flex-content-start flex-align-items-center">
    <div>
      <div class="page-templates-title">
        Template
      </div>
    </div>
    <div>
      <div class="page-templates-count">
        3 / 20
      </div>

    </div>
  </div>
  <div class="page-templates-buttons flex flex-content-between flex-align-items-end">
    <div>
      <div class="page-templates-buttons flex flex-content-start flex-align-items-start">
        <div>
          <button type="button" class="btn btn-primary" ng-click="templates.newTemplate()">
            <i class="glyphicon glyphicon-plus"></i>
            &nbsp;New Template
          </button>
        </div>
        <div>
          <div class="btn-group">
            <button type="button" class="btn btn-default" uib-btn="'left'" data-toggle="modal"
              data-target="#dub-temp">
              <i class="glyphicon glyphicon-book"></i>
            &nbsp;Dublicate
            </button>
            <button type="button" class="btn btn-default" uib-btn="'right'" data-toggle="modal"
              data-target="#del-temp">
              <i class="glyphicon glyphicon-trash"></i>
            &nbsp;Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-default" (click)="openDialog()">
        <i class="glyphicon glyphicon-plus"></i>
        &nbsp;Create Task
      </button>
    </div>
  </div>
  <div class="page-templates-list">
    <div class="sr-table">
      <table class="table">
        <thead>
          <tr>
            <th>
              <md-checkbox></md-checkbox>
            </th>
            <th>
              <a>
                Name&nbsp;
                <i class="glyphicon glyphicon-sort"></i>
              </a>
            </th>
            <th>
              <a>
                Output Type&nbsp;
                <i class="glyphicon glyphicon-sort"></i>
              </a>
            </th>
            <th>
              <a>
                Create Date&nbsp;
                <i class="glyphicon glyphicon-sort"></i>
              </a>
            </th>
            <th>
              <a>
                Update Date&nbsp;
                <i class="glyphicon glyphicon-sort"></i>
              </a>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <td>
              <md-checkbox></md-checkbox>
            </td>
            <td class="fixed-width">
              <a>{{ project.project_name }}</a>
            </td>
            <td>
              {{ project.output_type }}
            </td>
            <td>
              {{ project.created_at }}
            </td>
            <td>
              {{ project.updated_at }}
            </td>
            <td>
              <div class="user-role flex flex-content-between flex-align-items-center">
                <div>
                  <button type="button" class="btn btn-default" create-task-modal data-project="template.id" data-imageselect="false" data-projectselect="true" data-title="template.project_name">
                    <i class="glyphicon glyphicon-plus"></i>
                    &nbsp;Create Task
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Modal -->
  <div id="create-task" class="modal fade create-task-form" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="create-task-title">Create Task</div>
        </div>
        <div class="modal-body">
          <div class="create-task-content flex flex-content-around flex-align-items-start">
            <div>
              <label>Select Images Asset</label>
              <select class="form-control">
                <option ng-repeat="image in create.images">Image Name</option>
              </select>
            </div>
            <div>
              <label>Select Meta</label>
              <select class="form-control">
                <option value="Invoice">Invoice</option>
                <option value="Invoice">Invoice</option>
                <option value="Invoice">Invoice</option>
              </select>
            </div>
          </div>
          <div class="check">
            <div>
              <md-checkbox>Start this Task now</md-checkbox>
            </div>
            <div>
              <button class="btn btn-primary">Create Task</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
