<div class="header">
	<div class="navigation">
    <div class="container navigation-container">
      <div class="flex flex-content-between flex-align-items-center">
        <div>
          <div class="navigation-container-nav-side flex flex-content-start flex-align-items-center">
            <span>
              <a [routerLink]="['/dashboard']">
                <img src="/assets/images/logo-demo.png" alt="logo" />
              </a>
            </span>
            <span class="nav-elem first">
              <a [routerLink]="['/docs']">Docs</a>
            </span>
            <span class="nav-elem">
              |
            </span>
            <span class="nav-elem">
              <a [routerLink]="['/faq']">FAQs</a>
            </span>
            <span class="nav-elem">
              |
            </span>
            <span class="nav-elem">
              <a [routerLink]="['/about']">About us</a>
            </span>
            <
          </div>
        </div>
        <div class="navigation-container-signout-button">
          <a (click)="logout()">Sign Out</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
