.template-view {
  padding: 40px 15px;
  background-color: $white;
  .output-data-overflow {
    padding-left: 30px;
    overflow-x: auto;
    margin-left: 10px;
  }
  .img-data {
    width: 430px;
  }
  img {
    max-width: 100%;
  }
  .image {
    width: 100%;
    min-height: 400px;
    border: 1px solid $grey;
  }
  .template-name {
    font-size: $biggest2;
  }
  .template-change-button {
    margin-top: 30px;
  }
  .preview-container {
    width: 200px;
    height: 50px;
    padding: 7px;
    img {
      max-height: 100%;
    }
  }
  .output-data {
    width: 100%;
    &.short-table {
      width: 50%;
    }
    .input-small {
      display: inline-block;
    }
    table {
      border-collapse: separate;
      &.table-bordered {
        border: none;
      }
      .input-small {
        padding: 7px 12px 7px;
      }
      tr {
        &.hightlight {
          background: rgba(255,0,0,0.2);
        }
        td {
          &:not(:last-child) {
            border-right: none;
          }
          &.selected {
            border: 2px solid $blue;
          }
        }
        &:not(:last-child) {
          td {
            border-bottom: none;
            &.selected {
              border: 2px solid $blue;
            }
            &:last-child {
              border-right: 1px solid $table-border-color;
              &.selected {
                border: 2px solid $blue;
              }
            }
          }
        }
      }
      .view-small, .sr-select, .input-small {
        display: inline-block;
        width: 40%;
        color: $black;
        background: $grey-darkest;
        border-radius: 3px;
        border: none;
        &:first-child {
          width: 54%;
        }
        &:not(:first-child) {
          margin-left: 5px;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      select {
        vertical-align: middle;

      }
      .view-small {
        width: 115px;
        height: 34px;
        vertical-align: middle;
        &:active, &:visited, &:focus {
          outline: 0;
        }
      }
      td {
        position: relative;
        width: 232px;
        min-width: 232px;
        &.column-hightlight {
          background: rgba(255,0,0,0.2);
        }
        &:active, &:focus, &:visited {
          outline: 0;
        }
        .ic-add-col {
          position: absolute;
          right: 0;
          top: -24px;
          transform: translateX(50%);
          outline: 0;
        }
        .ic-add-row {
          position: absolute;
          left: -24px;
          top: -24px;
          transform: translateY(50%);
          outline: 0;
        }
        .ic-add-row-last {
          position: absolute;
          left: -24px;
          bottom: -12px;
        }
        .ic-delete-col {
          position: absolute;
          top: -32px;
          left: 50%;
        }
        .ic-delete-row {
          position: absolute;
          left: -28px;
          top: 7px;
          transform: rotate(-90deg);
        }
        a {
          cursor: pointer;
        }
        &.selected {
          .view-small {
            background: white;
          }
        }
      }
    }
  }
  .template-action {
    button {
      margin-left: 15px;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
      color: $grey-lighten;
    }
  }
  .sample-title {
    margin-bottom: 10px;
  }
  .template-tasks {
    margin-top: 45px;
  }
  .page-task-info {
    .setting-btn {
      div:first-child {
        margin-right: 10px;
      }
    }
  }
}
.multimedia {
  padding-top: $middleBig;

  .subtitle {
    font-size: $default;
    margin-bottom: 13px;
    position: relative;
    .preview-container {
      position: absolute;
      right: 0;
      top: -14px;
      border: 1px solid $grey-darken;
    }
  }

  .img-data {
    width: 430px;

    .image-drag-and-drop {
      border: thin solid $grey-darken;
      min-height: 500px;
      position: relative;
      .image-upload-title {
        text-align: center;

        p, button {
          font-size: $small;
        }
      }
      span.btn-primary {
        margin-top: 10px;
      }
      .upload-image-form {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        padding: 0;
      }
    }

    .crop-image-box-container {
      border: thin solid $greyBorder;
      min-height: 500px;
      position: relative;
      padding: 3px;

      #panel {
        position: relative;
        overflow: hidden;
      }

      hr {
        display: block;
        width: 100%;
        margin: $small auto $small;
        border: none;
        height: 1px;
        background: $greyBorder;
      }
    }
  }

  .out-data {
    width: 100%;
    flex: 1 1 0;
    margin-left: $middleBig2;
    &.overflow {
      padding-left: 30px;
      overflow-x: auto;
      margin-left: 10px;
    }
    #croppedData {
      .cropped-item {
        display: block;
        position: relative;
        overflow: hidden;
        border: thin solid $greyBorder;
        padding: $small;
        cursor: pointer;
        margin-bottom: 1px;
      }
    }
  }
}
